<!DOCTYPE html>
<html >
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    {% load static %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%  static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css' %}">
    
    <script src="{% static 'bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>

    {% block header %}{% endblock %}
</head>

<body>

    {% block content %}{% endblock %}

    {% block body-bottom %}{% endblock %}
</body>

</html>